<!DOCTYPE html>
<html ng-app="test">

<head>
  <title>test</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div class="container">
        <h1>test</h1>
        <div>
          <a href="/">Home</a> /
          <a href="/about">About</a>
        </div>
        <hr />

        <ui-view></ui-view>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <script src="/bower_components/angular-filepicker/dist/angular-filepicker.min.js
  charset="utf-8"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
